/* My font gueh */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* global font */
.judul{
    font-family: "Fraunces", serif;
}

body {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:#92EEFF;
    color:#2C2C2C;
    line-height: 1.6;
    }

.container{
    max-width: 800px;
    margin: 0 auto;

    
}

/* header style*/
header {
    background-color:#D8FFC5;
    color:#2C2C2C;
    font-size: 12px;
    padding: 20px auto;
}

header h1 {
    margin: 0;
}

header nav a {
    color: #2C2C2C;
    text-decoration: none;
    margin: 0 7px;
}

header nav a:hover{
    color: blue;
}

/* promo style */
section{
    padding: 20px;
}

section h3{
    color: #A2AB73;
}

ul li{
    list-style: inside;
}

/* menu style */
table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #5E3122;
}

th, td{
    padding: 5px;
    text-align: left;
}

th{
    background-color: rgb(79, 154, 79);
    color:rgb(217, 225, 143);
}


/* form style */
form{
    border: 3px solid #5E3122;
    border-radius: 15px;
    padding: 20px;
}

form input[type="text"],
form input[type="email"],
select{
    width: 100%;
    padding: 5px 0px;
    margin-top: 5px;
}

form input [type="checkbox"],
form input [type="radio"] {
    margin-right:6px;


}

textarea{
    width: 100%;
    padding: 2px;
}

label {
    font-weight: bold;
}

button {
    width: 100%;
    padding: 10px 5px;
    background-color: navy;
    color:aliceblue;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    background-color: antiquewhite;
    color: #2C2C2C; 
}

/* Contact Style */
#contact p{
   border: 2px solid #5E3122;
   padding: 10px;
   border-radius: 15px;
   max-width: max-content;
   margin: 10px auto;
}


#contact a{
    color: #2C2C2C;
    text-decoration: none;
}

#contact a:hover{
    color:blueviolet;
    text-decoration: underline;

}

/* Footer */
footer{
    background-color: #D8FFC5;
    color:#2C2C2C;
    padding: 10px;
    margin: 10 auto;   
}